@media only screen and (max-width: 768px) {
  .nav-btn,
  .hero-btn,
  .sec-btn {
    padding: 12px 20px;
  }
  .nav-menu,
  .hero__overlay {
    display: none;
  }
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: block;
  }
  .hero-sec {
    height: 56vw;
  }
  .hero-contant {
    padding-top: 0% !important;
  }
  .hero-btn-wrapper {
    margin-top: 10px !important;
  }
  .box-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .box {
    width: 100% !important;
  }
  .sec-3-div-first-ch {
    order: 2;
  }
  .sec-4 {
    height: 100% !important;
    padding: 100px 20px;
  }
  .sec-4-wrapper {
    padding: 100px 20px;
  }
  .sec-4-wrapper h2 {
    font-size: 34px !important;
  }
  .sec-6-header h2 {
    font-size: 34px !important;
  }
  .sec-6-second-div {
    padding-bottom: 50px;
  }
  .sec-6-second-div-ch h3 {
    font-size: 34px;
    color: #fff;
    font-weight: 600;
  }
  .sec-6-header {
    padding-top: 30px !important;
  }
  .mgl {
    display: none;
  }
  .col-l-img {
    height: 153px;
  }
  .card-copy {
    padding: 15px;
  }
  .col-r-img {
    height: 70px;
  }
  .cat-name {
    font-size: 13px;
  }

  .small-card-copy {
    padding: 10px;
  }
  .small-card-copy p {
    font-size: 11px;
    line-height: 1.4;
  }
  .sec-8-div-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .sec-8-div-ch {
    width: 100% !important;
  }
  .footer-div-wrapper {
    flex-wrap: wrap;
  }
  .footer-div-ch {
    width: 48% !important;
  }
  .footer-div-ch-3 {
    width: 100% !important;
    padding: 0 15px;
  }
  .footer__bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
  .input-wrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 425px) {
  /*Big smartphones [426px -> 600px]*/
  .hero-sec {
    max-height: calc(100vh - 20px);
  }
  .hero-headding {
    font-size: 55px;
  }
  .hero-contant {
    /* padding-top: 0% !important; */
    display: none;
  }

  .sec-2-headding {
    font-size: 34px;
  }
  .sec-3-div-first-ch {
    display: none;
  }
  .nu-manu-wrap {
    flex-wrap: wrap;
  }
  .nu-manu-div {
    width: 48%;
  }
  .sec-6-header {
    padding: 0 20px;
  }
  .sec-6-second-div {
    padding: 20px 20px;
  }
  .content-wrapper::before {
    right: calc(100% - 30px);
  }
  .fullscreen__pin::before {
    left: -60px;
  }
  .sec-7-div-wrapper {
    flex-direction: column;
  }
  .card-copy h2 {
    font-size: 20px;
  }
  .card-copy p {
    font-size: 13px;
  }
  .col-r {
    flex-direction: column;
    width: 100%;
  }
  .col-r-ch {
    width: 100%;
  }
  .col-r-img,
  .col-l-img {
    height: 195px;
  }
  .small-card-copy h2 {
    font-size: 20px;
    margin-bottom: 7px;
  }
  .small-card-copy p {
    font-size: 15px;
  }
  .small-card-copy {
    padding: 16px 14px;
  }
  .footer-div-ch {
    width: 100% !important;
  }
  .footer__bottom {
    padding-bottom: 60px;
  }
  .footer__figure {
    width: 100vw;
    margin: 0 -16px;
  }
  .nav-collapsed-wrapper {
    height: calc(100vh - 165px);
  }
}
@media only screen and (max-width: 375px) {
  /*Small smartphones [325px -> 425px]*/
  .box {
    text-align: center;
  }
  .box-flag {
    margin: 0 auto;
    margin-bottom: 15px;
  }

  @media only screen and (max-width: 320px) {
    .input-wrapper {
      width: 100%;
    }
    .input-wrapper a {
      transform: translateX(-38px);
    }
  }
}
